

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #0e0e0e #8d99ae;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #8d99ae;
}

*::-webkit-scrollbar-thumb {
    background-color: #0e0e0e;
    border-radius: 20px;
}
