/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
position: relative;
z-index: 2;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
visibility: hidden;
opacity: 0;
transition-property: all;
transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
transition-duration: 300ms;
}

/* Position tooltip above the element */
[data-tooltip]:before {
position: absolute;
bottom: 120%;
left: 25%;
margin-left: auto;
margin-bottom: 5px;
padding: 5px 8px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color: rgba(26, 26, 27, 0.9);
content: attr(data-tooltip);
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
position: absolute;
bottom: 120%;
left: 50%;
width: 0;
border-top: 5px solid #000;
border-top: 5px solid rgba(26, 26, 27, 0.9);
border-right: 5px solid transparent;
border-left: 5px solid transparent;
content: " ";
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
visibility: visible;
opacity: 1;
}